<nav class="navbar header" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="your/nice/url">LOGO</a>
        </div>
        <div class="collapse navbar-collapse navbar-collapse-example">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/app/home">首页</a></li>
                <li><a href="your/nice/url">博客</a></li>
                <li><a href="your/nice/url">论坛</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <!-- <li class="active"><a href="/app/home">首页</a></li> -->
                <li><a href="your/nice/url">写博客</a></li>
                <li><a href="your/nice/url">用户1</a></li>
            </ul>
        </div>
        <!-- END .navbar-collapse -->
    </div>
</nav>
<router-outlet></router-outlet>